.container {
    width: 50px;
    height: 50px;
}














    /* .block-container .block {
      flex: 0 0 auto;
      margin: 1em;
      padding: 1.5em 1em;
      border-radius: 5px;
      justify-content: left;
      width: 45%; }
      .block-container .block:hover {
        cursor: pointer; }
      .block-container .block.green {
        background: green; }
      .block-container .block.red {
        background: red; }
      .block-container .block.grey {
        background: grey; }
      .block-container .block .end-point-url {
        padding-right: 5em; }
  
  @media (max-width: 400px) {
    .block-container {
      display: block; }
      .block-container .block {
        width: 100%;
        margin: 0 0 10px 0; } } */